
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Администрирование</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="">Главная</a>
          </li>
          <a class="nav-link" href="/filters">Ключевые слова</a>
        </ul>
      </div>
    </nav>
    
    <div class="container mt-4">
      <h2>Управление ботом</h2>
      <form method="post">
        <div class="form-group">
          
          {{#if bot_status}}
            <button type="submit" name="stop_bot" value="true" class="btn btn-danger">Остановить бота</button>
          {{/if}}

          {{#unless bot_status}}
            <button type="submit" name="start_bot" value="true"  class="btn btn-success">Запустить бота</button>
          {{/unless }}
        </div>
      </form>
    </div>
    
    <div class="container mt-4">
      <h2>Управление каналами</h2>
       <form method="post">
        <div class="form-group">
          <label for="channel_name">Название канала:</label>
          <input type="text" class="form-control" id="channel_name" name="channel_name">
        </div>
        <div class="form-group">
          <button type="submit" name="add_channel" value="true" class="btn btn-primary">Добавить канал</button>
          <button type="submit" name="remove_channel" value="true" class="btn btn-danger">Удалить канал</button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Название канала</th>
            <th>Удалить канал</th>
          </tr>
        </thead>
        <tbody>
        {{#each channels}}
          <tr>
            <td>{{ this }}</td>
            <td>
              <form method="post">
                <input type="hidden" name="channel_name" value="{{ this }}">
                <button type="submit" name="remove_channel" value="true" class="btn btn-danger">Удалить</button>
              </form>
            </td>
          </tr>
        {{/each}}
    
