<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Администрирование</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <a class="nav-link" href="/filters">Ключевые слова</a>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  <h2>Управление ключевыми словами</h2>
  <form method="post">
    <div class="form-group">
      <label for="filter_word">Новое ключевое слово:</label>
      <input type="text" class="form-control" id="filter_word" name="filter_word" />
    </div>
    <div class="form-group">
      <button type="submit" name="add_filter_word" class="btn btn-primary" value="true">Добавить бан ворд</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Ключевое слово</th>
        <th>Удалить ключевое слово</th>
      </tr>
    </thead>
    <tbody>
      {{#each filters}}
        <tr>
          <td>{{this}}</td>
          <td>
            <form method="post">
              <input type="hidden" name="filter_word" value="{{this}}" />
              <button type="submit" name="remove_filter_word" value="true" class="btn btn-danger">Удалить</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>